pkgbase = talon
	pkgdesc = AI-centric Markdown word processor
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/vuluru/talon
	arch = x86_64
	license = custom
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = cairo
	source = talon-0.1.4::https://github.com/vuluru/talon/releases/download/v0.1.4/talon-0.1.4-linux-x86_64.tar.gz
	source = talon.desktop
	source = talon.png
	sha256sums = 3b79c8d63cf3d7ef37505464000e4978f6568ab14cee17ccd071f735051222ce
	sha256sums = ed45025ebe0975062436077de0ed05dafe73099c01535053d1eee44afeb8169b
	sha256sums = b1c90b664bc2f0a3cfc2b9e11558ac188fae9311ebc7e02b36cd3303bbeda4aa

pkgname = talon
